<div class="overflow-hidden rounded-2xl border border-gray-300 bg-white shadow-sm">

  <div class="overflow-x-auto">

    <table class="w-full min-w-[900px]">

      <thead class="border-b border-gray-300 bg-[#F8F8FA]">

        <tr>

          <th class="px-6 py-5 text-left text-sm font-medium uppercase text-gray-500">
            Aplikacja
          </th>

          <th class="px-6 py-5 text-left text-sm font-medium uppercase text-gray-500">
            Redirect URI
          </th>

          <th class="px-6 py-5 text-center text-sm font-medium uppercase text-gray-500">
            Logowania
          </th>

          <th class="px-6 py-5 text-center text-sm font-medium uppercase text-gray-500">
            Data utworzenia
          </th>

          <th class="px-6 py-5 text-center text-sm font-medium uppercase text-gray-500">
            Status
          </th>

          <th class="px-6 py-5"></th>

        </tr>

      </thead>

      <tbody id="apps-table-body"></tbody>

    </table>

  </div>

  <div class="flex justify-center border-t border-gray-200 p-5">

    <button id="load-more-apps"
      class="rounded-xl border border-violet-400 px-5 py-2 text-violet-600 transition hover:bg-violet-50"
    >
      Załaduj więcej
    </button>

  </div>

</div>