<nav class="mx-auto flex h-[80px] items-center justify-between px-5 bg-black/30 backdrop-blur-md">

    <img src="../images/Entria.png" alt="Entria logo" class="h-7 w-auto" />

    <div class="hidden items-center gap-8 text-sm text-white/75 md:flex leading-none">
        <a href="#" class="transition hover:text-white">Dla Firm</a>
        <a href="#" class="transition hover:text-white">Dokumentacja</a>
    </div>

    <div class="flex items-center gap-3">
        <button id="openLoginPageNavbar" class="rounded-xl border border-white/15 bg-white/5 px-4 py-2 text-sm text-white transition hover:bg-white/5">
            Zaloguj się
        </button>
        <button id="openChooseTypeModal" class="rounded-xl border border-white/15 bg-white/5 px-4 py-2 text-sm text-white transition hover:bg-white/10">
            Rozpocznij →
        </button>
    </div>
</nav>