<div class="rounded-xl border border-gray-300 bg-white p-6 shadow-md">

  <div class="flex items-center justify-between">
    <h2 class="text-xl font-semibold text-gray-900">
      Aplikacje
    </h2>
  </div>

  <div class="mt-6 overflow-x-auto">

    <table class="w-full table-fixed">

      <thead>
        <tr class="border-b border-gray-300">

          <th class="w-1/3 pb-5 text-base xl:text-xl font-medium uppercase text-gray-600 text-left">
            Nazwa
          </th>

          <th class="w-1/3 pb-5 text-base xl:text-xl font-medium uppercase text-gray-600 text-center">
            Logowania
          </th>

          <th class="w-1/3 pb-5 text-base xl:text-xl font-medium uppercase text-gray-600 text-center">
            Status
          </th>

        </tr>
      </thead>

      <tbody id="apps-table-body"></tbody>

    </table>

  </div>

</div>