# ports config
IDENTITY_SERVICE_PORT=12001
REDIS_PORT=6379
REDIS_COMMANDER_PORT=8081

# identity service config
IDENTITY_SERVICE_INTERNAL_PORT=12001
VERIFICATION_EXPIRATION=300
VERIFICATION_LENGTH=6
RESET_PASSWORD_EXPIRATION=300
RESET_PASSWORD_LENGTH=6
JWT_SECRET_KEY=d5202342-2484-449f-8cb9-5cf6d2b1b641
JWT_EXPIRATION=5m
REFRESH_EXPIRATION=7d

# database config
POSTGRES_DB_PORT=5432
POSTGRES_DB_USER=user
POSTGRES_DB_PASSWORD=password
POSTGRES_IDENTITY_DB_NAME=identity_db

#redis config
REDIS_PASSWORD=password