# ports config
IDENTITY_SERVICE_PORT=12001

# identity service config
IDENTITY_SERVICE_INTERNAL_PORT=12001

# database config
POSTGRES_DB_PORT=5432
POSTGRES_DB_USER=user
POSTGRES_DB_PASSWORD=password
POSTGRES_IDENTITY_DB_NAME=identity_db